---
layout: default
title: Blog
---


<!--
  {% if post.thumbnail %}
  <div class="card hidden-xs-down" style="">
  <img class="card-img-top" src="{{post.thumbnail}}" alt="Card image cap">
  </div>
  {% endif %}
-->
{% for post in site.posts %}
<div class="media">
  <img class="d-flex mr-3" src="{{post.thumbnail}}" alt="Generic placeholder
  image" width="150px;">
  <div class="media-body">
    <h6 class="">{{ post.date | date : "%b %d %y" }}</h6>
    <h5 class=""> 
      <a href="{{site.baseurl}}{{post.url}}">
        {{ post.title }}
      </a>
    </h5>
    <dl class="row">
      {% if post.project_title %}
      <dt class="col-sm-1 text-right"> 
        <i class="mdi mdi-{{post.icon}}"></i> 
      </dt>
      <dd class="col-sm-11">
        <a href="{{post.project_url}}">
          {{ post.project_title }}
        </a>
      </dd>
      {% endif %}
      {% if post.paper_title %}
      <dt class="col-sm-1 text-right"> 
        <i class="mdi mdi-file-pdf"></i> 
      </dt>
      <dd class="col-sm-11">
        <a href="{{post.paper_url}}">
          Paper
        </a>
      </dd>
      {% endif %}
      {% if post.link_title %}
      <dt class="col-sm-1 text-right"> 
        <i class="mdi mdi-link-variant"></i> 
      </dt>
      <dd class="col-sm-11">
        <a href="{{post.link_url}}">
          {{ post.link_title }}
        </a>
      </dd>
      {% endif %}
      {% if post.github %}
      <dt class="col-sm-1 text-right"> 
        <i class="mdi mdi-github-circle"></i> 
      </dt>
      <dd class="col-sm-11">
        <a href="{{post.github}}">
          Code
        </a>
      </dd>
      {% endif %}
    </dl>
  </div>
</div>
<br/>
{% endfor %}

<!--
  <table id='postTable'>
  {% for post in site.posts %}
  <tr>
  <th> <div class="btn-group" role="group" aria-label="Second group"> <a class="btn btn-link" href="#"> {{ post.date | date: "%b %y" }} </a> </div> </th>
  <td>
  <div class="btn-group btn-group-lg" role="group" aria-label="Second group"> <a class="btn btn-secondary" href="{{ site.baseurl }}{{ post.url }}"> {{post.title}} </a> </div>
  <br/>

  {% if post.project_title or post.paper_title or post.link_title or post.github %}
  <div class="btn-group" role="group" aria-label="Second group">

  {% if post.project_title %}
  <a class="btn btn-primary" href="{{post.project_url}}"> <i class="mdi mdi-{{post.icon}}"></i> {{ post.project_title }} </a>
  {% endif %}

  {% if post.paper_title %}
  <a class="btn btn-primary-outline" href="{{post.paper_url}}"> <i class="mdi mdi-file-pdf"></i> Paper </a>
  {% endif %}

  {% if post.link_title %}
  <a class="btn btn-primary-outline" href="{{post.link_url}}"> <i class="mdi mdi-link-variant"></i> {{ post.link_title }} </a>
  {% endif %}

  {% if post.github %}
  <a class="btn btn-primary-outline" href="{{post.github}}"> <i class="mdi mdi-github-circle"></i> Source </a>
  {% endif %}
  </div>
  <br/>
  {% endif %}
  <br/>
  </td>
  </tr>

  {% endfor %}
  </table>
-->
