---
title: PSets
layout: default
---

{% assign grouped = site.psets | group_by_exp: "item", "item.textbook" %}

<div class="card border-0 text-body bg-light"
     style="max-width: 40em;">
  <div class="card-body">
    <i>Class notes from:</i>
    {% for group in grouped %}
    {% assign book = site.data.psets[group.name] %}
    <h5>{{book.title}}</h5>
    <h6>{{book.author}}</h6>
    <i class="fa fa-fw fa-link"></i>
    <a href="{{book.link}}" class="text-reset">{{book.hosted_on}}</a>
    <br/>
    <br/>

    {% for ps in group.items %}
    <nobr>
    {% if ps.qed %}
      <i class="fa-fw fas fa-check-circle text-success"></i>
    {% else %}
      <i class="fa-fw fas fa-circle-notch text-muted"></i>
    {% endif %}
    <a href="{{ps.url}}" class="text-reset pr-3">
      {{ ps.title | slugify }}
    </a>
    </nobr>
    {% endfor %}

    <br/>
    {% endfor %}
  </div>
</div>
