---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

article { margin-left: auto; margin-right: auto; }

ul, ol { margin: 15px 0; padding-left: 30px; }
ul { list-style-type: disc; }
ol { list-style-type: decimal; }
ol ul, ul ol, ul ul, ol ol { margin: 0; }
ul ul, ol ul { list-style-type: disc; }

img { max-width: 100%; }

blockquote {
  border-left: 1px solid $gray;
  opacity: 0.8;
  font-style: italic;
  margin-left:-10px !important;
  padding-left:10px;
  @inject
}

// TOC
#markdown-toc { 
  padding: 35px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25em;
}
#markdown-toc a { color: black; }
#markdown-toc, #markdown-toc ul { list-style-type: decimal; }

// https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters#Example_of_a_nested_counter
ul#markdown-toc, #markdown-toc ul {
  counter-reset: section;
  list-style-type: none;
}
#markdown-toc li::before {
  counter-increment: section;
  content: counters(section, ".") ". ";
}

.mdi::before { font-size: 24px; line-height: 14px; }
.btn .mdi::before { position: relative; top: 4px; }
.btn-xs .mdi::before { font-size: 18px; top: 3px; }
.btn-sm .mdi::before { font-size: 18px; top: 3px; }

.breadcrumb { background: #f9f9f9 !important; }
.breadcrumb .mdi::before { position: relative; top: 4px; } 
.breadcrumb a:hover { text-decoration: none; }
.breadcrumb a:hover span { text-decoration: underline; }

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

.highlight{ 
  overflow-x: none !important; 
  border: none !important;
  padding-left:   1.0em;
  padding-top:    0.5em;
  padding-bottom: 0.5em;
  background: #f9f9f9 !important;
  border-radius: 10px;
}

.badge { font-weight: 400 !important; } // tags don't need to be bold

code {
	font-weight: normal !important; 
  font-size: 120% !important;
  color: #e83e8c !important;
}

a > code { color: #e83e8c !important; }

// ARTICLE
article > h1, article > h2, article > h3, article > h4, article > h5, article > h6 { font-weight:bold; }

article > h1 { font-size: 1.50em !important; margin-top:35px;}
article > h2 { font-size: 1.40em !important; margin-top:20px; }
article > h3 { font-size: 1.30em !important; margin-top:15px; }
article > h4 { font-size: 1.20em !important; margin-top:10px; }
article > h5 { font-size: 1.10em !important; margin-top:10px; }
article > h6 { font-size: 1.00em !important; margin-top:10px; }

// https://gist.github.com/patik/89ee6092c72a9e39950445c01598517a
article      { counter-reset: h1counter; }
article > h1 { counter-reset: h2counter; }
article > h2 { counter-reset: h3counter; }
article > h3 { counter-reset: h4counter; }
article > h4 { counter-reset: h5counter; }
article > h5 { counter-reset: h6counter; }
article > h6 {}

article > h1:before { counter-increment: h1counter; } 
article > h2:before { counter-increment: h2counter; } 
article > h3:before { counter-increment: h3counter; } 
article > h4:before { counter-increment: h4counter; } 
article > h5:before { counter-increment: h5counter; } 
article > h6:before { counter-increment: h6counter; } 

article > h1:before { content: counter(h1counter) ".\0000a0\0000a0"; } 
article > h2:before { content: counter(h1counter) "."  counter(h2counter) ".\0000a0\0000a0"; } 
article > h3:before { content: counter(h1counter) "."  counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0"; } 
article > h4:before { content: counter(h1counter) "."  counter(h2counter) "." counter(h3counter) "." counter(h4counter) ".\0000a0\0000a0"; } 
article > h5:before { content: counter(h1counter) "."  counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) ".\0000a0\0000a0"; } 
article > h6:before { content: counter(h1counter) "."  counter(h2counter) "." counter(h3counter) "." counter(h4counter) "." counter(h5counter) "." counter(h6counter) ".\0000a0\0000a0"; }
