<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    {% if include.left_url %}
      <a class="nav-link" href="{{ include.left_url }}">
        <i class="fas fa-fw fa-{{ include.left_icon }} align-middle"></i>
      </a>
	  {% endif %}
  </li>
  <li class="nav-item">
    {% if include.center_url %}
    <a class="nav-link" href="{{ include.center_url }}">
      <i class="fas fa-fw fa-{{ include.center_icon }} align-middle"></i>
    </a>
    {% endif %}
  </li>
  <li class="nav-item">
    {% if include.right_url %}
      <a class="nav-link" href="{{ include.right_url }}">
        <i class="fas fa-fw fa-{{ include.right_icon }} align-middle"></i>
      </a>
    {% endif %}
  </li>
</ul>
