<div class="card mb-3 bg-light">
  <!--
  <h1 class="align-self-center d-flex mr-3" style="font-size:3em;">
  	<i class="fas fa-fw fa-{{ include.icon }} align-middle"></i>
  </h1>
  -->
  <div class="row no-gutters align-items-center">
    <div class="col-sm-3 d-none d-sm-block">
      <h1 class="text-center">
        <a href="{{ include.url }}" class="text-dark">
          <i class="fas fa-fw fa-{{ include.icon }}"></i>
        </a>
      </h1>
    </div>
    <div class="col-sm-9">
	    <div class="card-body">
	    	<h5 class="card-title">
	    		<a href="{{site.baseurl}}{{ include.url }}" class="text-dark">
	    			{{ include.title }}
	    		</a>
	    	</h5>

        {% if include.date %}
          <h6 class="card-subtitle mb-2 text-muted">
            {{ include.date | date: "%F" }}
          </h6>
        {% endif %}

        {% if include.tags %}
          {% assign sorted_tags = include.tags | sort %}
          {% for tag in sorted_tags %}
            {% capture tn %}{{ tag }}{% endcapture %}
            <a href="/tag/{{ tn }}" class="card-link">#{{ tn }}</a>
          {% endfor %}
        {% endif %}
	    </div>
    </div>
	</div>
</div>

{% comment %}
  If categories become useful again, use this.

  <span class="card-text float-left text-muted">
    <a href="/{{ include.categories.first | downcase }}" class="badge
    badge-pill badge-light"> {{ include.categories.first }} </a>
  </span>

{% endcomment %}
