<div class="row">
  <div class="col col-xs-12 text-xs-center col-sm-6 text-sm-left">
    <div class="btn-group" role="group" aria-label="">
      <a class="btn btn-success-outline btn-sm" href="mailto:james.adam.buckland@gmail.com" role="button">james.adam.buckland@gmail.com</a>
    </div>
  </div>
  <br class="hidden-sm-up"/>
  <br class="hidden-sm-up"/>
  <div class="col col-xs-12 text-xs-center col-sm-6 text-sm-right">
    <div class="btn-group btn-group-sm" role="group" aria-label="">
      <a class="btn btn-secondary" href="https://github.com/ambuc" role="button">
        <i class="mdi mdi-github-box"></i>
      </a>
      <a class="btn btn-secondary" href="https://www.linkedin.com/in/jamesadambuckland" role="button">
        <i class="mdi mdi-linkedin-box"></i>
      </a>
      <a class="btn btn-secondary" href="https://instagram.com/jbuckland" role="button">
        <i class="mdi mdi-instagram"></i>
      </a>
      <a class="btn btn-secondary" href="{{ site.baseurl }}/feed.xml" role="button">
        <i class="mdi mdi-rss-box"></i>
      </a>
    </div>
  </div>
</div>
