<div class="row">
  <div class="col col-sm-12 col-md-12">
    <h2 class="text-center">James Adam Buckland</h1>
  </div>
  <div class="col col-sm-12 col-md-12">
    <ul class="nav nav-inline justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/resume.pdf">Resume</a>
      </li>
    </ul>
  </div>
</div>
<hr/>
