<div class="container">
  <div class="card text-center border-0">
    <div class="card-body">
      <h2 class=""><a style="color:black;" href="{{ site.baseurl }}/">James Adam Buckland</a></h2>
      <a href="/" class="card-link">
        {% if page.path == "index.html" %}
        <b> Home </b>
        {% else %}
        Home
        {% endif %}
      </a>
      <a href="/blog" class="card-link">
        {% if page.path == "blog.html" %}
        <b> Blog </b>
        {% else %}
        Blog
        {% endif %}
      </a>
      <a href="/psets" class="card-link">
        {% if page.path == "psets.html" %}
        <b> Psets </b>
        {% else %}
        Psets
        {% endif %}
      </a>
      <a href="/resume.pdf" class="card-link">Resume</a>
    </div>
  </div>
</div>
<br/>
