<div class="row">
  <div class="col col-sm-12 col-md-6 col-lg-6 text-md-left text-sm-center text-xs-center">
    <h2>James Adam Buckland</h1>
  </div>
  <div class="col col-sm-12 col-md-6 col-lg-6 text-md-right text-xs-center">
    <ul class="nav nav-inline">
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/blog">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:james.adam.buckland@gmail.com">Email</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ site.baseurl }}/resume.pdf">Resume</a>
      </li>
    </ul>
  </div>
</div>
