<br/>
<dl class="row">
{% if include.url %}
    <dt class="col-sm-3">Link</dt>
    <dd class="col-sm-9">
        <a href="{{include.url}}"> {{include.url}} </a>
    </dd>
{% endif %}
{% if include.github %}
    <dt class="col-sm-3">GitHub</dt>
    <dd class="col-sm-9">
        <a href="{{include.github}}"> {{include.github}} </a>
    </dd>
{% endif %}
{% if include.paper_url and include.paper_title %}
<dt class="col-sm-3">Paper</dt>
    <dd class="col-sm-9">
        <a href="{{include.paper_url}}"> {{include.paper_title}} </a>
    </dd>
{% endif %}
</dl>
