<blockquote>
{% if include.url %}
<span class="material-icons mi mi_valign mi_halign">link</span>
<a href="{{include.url}}">
  {{include.url}}
</a>
<br/>
{% endif %}
{% if include.github %}
<span class="material-icons mi mi_valign mi_halign">code</span>
<a href="{{include.github}}">
  {{include.github}}
</a>
<br/>
{% endif %}
{% if include.paper_url and include.paper_title %}
<span class="material-icons mi mi_valign mi_halign">history_edu</span>
<a href="{{include.paper_url}}">
  {{include.paper_title}}
</a>
<br/>
{% endif %}
</blockquote>
