
//
// VARIABLES
//

// Colors
$blue: #4183C4;

$sd_base03:  #002b36;
$sd_base02:  #073642;
$sd_base01:  #586e75;
$sd_base00:  #657b83;
$sd_base0:   #839496;
$sd_base1:   #93a1a1;
$sd_base2:   #eee8d5;
$sd_base3:   #fdf6e3;
$sd_yellow:  #b58900;
$sd_orange:  #cb4b16;
$sd_red:     #dc322f;
$sd_magenta: #d33682;
$sd_violet:  #6c71c4;
$sd_blue:    #268bd2;
$sd_cyan:    #2aa198;
$sd_green:   #859900;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$courier: "Courier New", "Courier", monospace;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
