article > h1, article > h2, article > h3, article > h4, article > h5, article > h6 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-weight: 600;
}
article > h1 { font-size: 1.3em; }
article > h2 { font-size: 1.25em; }
article > h3 { font-size: 1.20em; }
article > h4 { font-size: 1.15em; }
article > h5 { font-size: 1.10em; }
article > h6 { font-size: 1.05em; }

article > ul#markdown-toc {
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 4px;
  padding-top: 1em;
  padding-bottom: 1em;
}

article > div.highlighter-rouge {
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 4px;
  padding: 1em;
  padding-bottom: 0;
  margin-top: 1em;
  margin-bottom: 1em;
  background: rgba(0, 0, 0, 0.03);
}

article > pre {
  border: 1px solid rgba(0,0,0,0.125);
  border-radius: 4px;
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  background: rgba(0, 0, 0, 0.03);
}


article > blockquote {
  padding-left: 2em;
  border-left: 1px solid rgba(0,0,0,0.125);
  margin-top: 2em;
  margin-bottom: 2em;
}

article img {
  max-width: 100%;
  text-align: center;
}

code {
  font-size: inherit;
}

// Namespace collision! `mi` refers to a material icon, but also to some
// highlighter subclass.
.material-icons.mi { font-size: 2em; }
.material-icons.mi_valign { position: relative; top: 0.3em; }
.material-icons.mi_halign { margin-right: 0.5em; margin-left: 0.5em; }
.material-icons.mi_ralign { margin-right: 0.5em; }

@media (prefers-color-scheme: dark) {
  html { background-color: #121212; }
  body { background-color: #121212; }
  .card { background-color: #121212; }
  .card-body { background-color: #121212; }
  .text-body { color: #888 !important; }
  code { color: #888 !important; }
}
