<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    <title>{% if page.title %}{{ page.title }} « {% endif %}jbuckland.com</title>
    <link rel="shortcut icon" type="image/png" href="https://avatars3.githubusercontent.com/u/6856318">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//cdn.materialdesignicons.com/1.4.57/css/materialdesignicons.min.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <script type="text/javascript"src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"> </script>

    <script type="text/x-mathjax-config">
MathJax.Hub.Config({
          tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
          TeX: {
            Macros: {
              vaccent: "{\\v}",
              v: ["{\\mathbf\{#1\}}", 1],
              abs: ["{\\left| #1 \\right|}",1],
              d: ["{\\frac\{d #1\}\{d #2\}}",2],
              dd: ["{\\frac\{d^2 #1\}\{d #2^2\}}",2],
              pd: ["\{\\frac\{\\partial #1\}\{\\partial #2\}\}",2],
              pdd: ["\{\\frac\{\\partial^2 #1\}\{\\partial #2^2\}\}",2] ,
              degrees: ["\{^\\circ\}"],
              div: ["\{\\text\{div \}\}"],
              grad: ["\{\\text\{grad \}\}"]
            }
          }
        });
    </script>
  </head>
  <body>
    <div class="container">
      <br/>
      {% include header.html %}
      <hr/>
      <div class="row">
        <div class="col col-xs-12">
          {{ content }}
        </div>
      </div>
      <hr/>
      {% include footer.html %}
      <br/>
    </div>
  </body>
</html>
