<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    <title>{% if page.title %}{{ page.title }} « {% endif %}jbuckland.com</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css">
    {% include bootstrap.html %}
    {% include mdi.html %}
    {% include mathjax.html %}
    <link rel="shortcut icon" type="image/png" href="https://avatars3.githubusercontent.com/u/6856318">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body>
    <br/>
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="text-center"> James Adam Buckland </h2>
          {% include navbar.html %}
          <br/>
          {{ content }}
          <br/>
          {% include footer.html %}
        </div>
      </div>
    </div>
    {% include analytics.html %}
    {% if site.tags != "" %}
      {% include collecttags.html %}
    {% endif %}
  </body>
</html>
