<!DOCTYPE html>
<html class="bg-light">
  <head>
    {% include meta.html %}
    <title> jbuckland.com </title>
    {% include bootstrap.html %}
    {% include mdi.html %}
    {% include mathjax.html %}
    <link rel="stylesheet" type="text/css" 
      href="/assets/css/styles.css">
    <link rel="alternate" type="application/rss+xml" 
          title="{{ site.name }}"
          href="{{ site.baseurl }}/feed.xml" />
  </head>
  <body class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col my-2">
          {% include linkseries.html data=site.data.nav %}
        </div>
        <div class="w-100"></div>
        <div class="col">
          {{content}}
        </div>
        <div class="w-100"></div>
        <div class="col my-2">
          {% include linkseries.html data=site.data.bottom-links %}
        </div>
      </div>
    </div>
  </body>
</html>
