---
layout: default
---

{% include candybar.html icon=page.icon url=page.url title=page.title 
   date=page.date tags=page.tags %}

<br/>

<article class="post">
	{{ content }}
</article>

<br/>

<ul class="list-group">
	{% if page.github %}
  <li class="list-group-item">
		<i class="fas fa-fw fa-code-branch"></i>
    View the source code on <a href="{{ page.github }}">Github</a>.
  </li>
	{% endif %}
	{% if page.project_title %}
  <li class="list-group-item">
		<i class="fas fa-fw fa-external-link-alt"></i>
    See more at <a href="{{ page.project_url }}">{{ page.project_url }}</a>.
  </li>
	{% endif %}
	{% if page.paper_title %}
  <li class="list-group-item">
		<i class="fas fa-fw fa-file-pdf"></i>
    Read <a href="{{ page.paper_url }}">{{ page.paper_title }}</a>.
  </li>
	{% endif %}
</ul>
