---
layout: default
---

{% assign literate_title = page.title | downcase | replace: " ", "." | replace:
"p.", "Problem "%}

{% capture the_collection%}{{page.collection}}{% endcapture %}
{% assign document = site[the_collection] %}

<!-- https://gist.github.com/budparr/3e637e575471401d01ec -->
{% for link in document %}
  {% if link.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign nexturl = document[forloop.index].url %}
    {% endunless %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}

<script>
document.body.onkeyup = function(e){
if (e.keyCode == '37') { window.location = '{{prevurl}}'; }
if (e.keyCode == '39') { window.location = '{{nexturl}}'; }
};
</script>

<div class="container">
 {% include candybar.html 
    icon="calculator"
    url=page.url 
    title=literate_title
    from=page.from
    date=page.date
    %}

	<br/>

  <ul class="nav nav-tabs nav-fill">
    {% if prevurl %}
      <li class="nav-item">
        <a class="nav-link" href="{{prevurl}}">
          <i class="fas fa-fw fa-angle-left align-middle"></i>
        </a>
      </li>
		{% endif %}
    <li class="nav-item">
			<a class="nav-link active" href="#">
        <i class="fas fa-fw fa-dot-circle align-middle"></i>
      </a>
    </li>
    {% if nexturl %}
      <li class="nav-item">
        <a class="nav-link" href="{{nexturl}}">
          <i class="fas fa-fw fa-angle-right align-middle"></i>
        </a>
      </li>
    {% endif %}
	</ul>

  <br/>

	<article class="post"> {{ content }} </article>

	<hr/>
</div>
