---
layout: default
---

{% assign literate_title = page.title | downcase | replace: " ", "." | replace:
"p.", "Problem "%}

{% assign problems = site[page.collection] %}
{% assign up_url = site.url | append: "/" | append: page.textbook %}

<!-- https://gist.github.com/budparr/3e637e575471401d01ec -->
{% for link in problems %}
  {% if link.title == page.title %}
    {% unless forloop.first %}
      {% assign prev_url = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next_url = problems[forloop.index].url %}
    {% endunless %}
  {% endif %}
  {% assign prev = link %}
{% endfor %}

<script>
document.body.onkeyup = function(e){
if (e.keyCode == '37') { window.location = '{{prev_url}}'; }
if (e.keyCode == '39') { window.location = '{{next_url}}'; }
};
</script>

<div class="container">
  {% include candybar.html 
     icon="calculator"
     url=page.url 
     title=literate_title
     textbook=page.textbook
     date=page.date
     %}

	<br/>

  {% include arrowbar.html
     left_url=prev_url
     center_url=up_url
     right_url=next_url
     left_icon="angle-left"
     center_icon="angle-up"
     right_icon="angle-right"
     %}

  <br/>

	<article class="post"> {{ content }} </article>

	<hr/>
</div>
