---
layout: default
---
<div class="container">
  <div class="card bg-dark text-white">
    <div class="card-body">
      <div class="card-text">
        <center>
          <i class="fas fa-fw fa-tags"></i> {{ page.tag }} 
        </center>
      </div>
    </div>
  </div>

  <br/>

  {% for post in site.tags[page.tag] %}
    {% include candybar.html icon=post.icon url=post.url title=post.title 
       date=post.date categories=post.categories tags=post.tags %}
  {% unless forloop.last %}
  <br/>
  {% endunless %}
  {% endfor %}
</div>

<div class="container d-none d-sm-block">
	<br/>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/blog">Blog</a></li>
			<li class="breadcrumb-item active" aria-current="page"><span class="badge badge-light">{{page.tag}}</span></li>
		</ol>
	</nav>
</div>
