---
layout: default
---
<div class="container">
  <div class="card bg-dark text-white">
    <div class="card-body">
      <div class="card-text">
        <center>
          <i class="fas fa-fw fa-tags"></i> {{ page.tag }} 
        </center>
      </div>
    </div>
  </div>

  <br/>

  {% for post in site.tags[page.tag] %}
  <div class="media">
    <h1 class="align-self-center d-flex mr-3" style="font-size:3em;">
      <i class="fas fa-fw fa-{{post.icon}} align-middle"></i>
    </h1>
    <div class="media-body" onclick="window.location='{{site.baseurl}}{{post.url}}'">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{{site.baseurl}}{{post.url}}">
              {{post.title}}
            </a>
            <small class="card-subtitle mb-2 text-muted">
              <nobr>	
                {{ post.date | date: "%F" }}
              </nobr>
            </small>
          </h5>
          <span class="card-text float-right text-right">
            <i class="fas fa-fw fa-tags align-middle text-muted"></i>
            {% assign sorted_tags = post.tags | sort %}
            {% for tag in sorted_tags %}
              {% capture tn %}{{ tag }}{% endcapture %}
              <nobr>	
                {% if tag == page.tag %}
                  <a href="/tag/{{tn}}" class="badge badge-dark">{{tn}}</a>
                {% else %}
                  <a href="/tag/{{tn}}" class="badge badge-light">{{tn}}</a>
                {% endif %}
              </nobr>
            {% endfor %}
          </span>
        </div>
      </div>
    </div>
  </div>
  {% unless forloop.last %}
  <br/>
  {% endunless %}
  {% endfor %}
</div>

<div class="container d-none d-sm-block">
	<br/>
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/blog">Blog</a></li>
			<li class="breadcrumb-item active" aria-current="page"><span class="badge badge-light">{{page.tag}}</span></li>
		</ol>
	</nav>
</div>
